<div class="barra-menu">
    
    <div class="layout-topbar">
        <p-tabMenu [model]="items">  </p-tabMenu>
    </div>
    <div class="layout-topbar-logo">
        <a href="#">
            <img id="logo" src="assets/images/logo.png" alt="Aena" />
        </a>
    </div>
</div>

<!--<mat-toolbar class="menu-bar">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <a href="#">
            <img id="logo" src="assets/images/logo.png" alt="Aena" />
        </a>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md class="menu-items"> 
            <a href="#" mat-button>Home</a>
            <a href="#" mat-button>Form</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
            <a href="#" mat-list-item>Home</a>
            <a href="#" mat-list-item>Form</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>-->

