@import './layout/topbar.scss';
@import './layout/topbar2.scss';
@import './passenger-form/passenger-form.scss';


body{
    background: #ddd url(../assets/images/fondo-texture.png);
    margin: 0px;
}

.imagenNotFound img{
    margin: auto;
    margin-top: 6em;
    display: block;
}