/*.content{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        div, button{
            padding: 5px;
        }
    }
}*/

.content{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.content img{
    width: 20%;
}

.content .ui-g{
    display: grid;
    max-width: max-content;
    margin: auto;
}

.content .ui-g-12{
    max-width: max-content;

}
.content .ui-inputtext {
    width: 20em;
}

.content .ui-button-success{
    width: 8%;
    height: 40px;
}