/*Estilos para el Log pues se tuvo que poner en un div aparte y unirlos pues el menubar no acepta un item imagen*/
.layout-topbar-logo{
    background-color: #1a4954;
}

.layout-topbar-logo #logo{
    margin-left: 30px;
}

/*Estilos generales de barra*/
.layout-topbar{
    float: right;
}
.layout-topbar .ui-tabmenu .ui-tabmenu-nav{
    background-color: #1a4954;
    height: 66px;
    border-bottom: 0px;
}

/*Estilos del contenedor de los menu item*/
.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
    margin-right: 0em;
    margin-bottom: 0em;
    float: right;
    background-color:#1a4954;
    border: 0px;
    height: 100%;
    width: 250px;
}

.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:first-child{
    margin-right:200px;
}

/*Texto de los menuItem*/
.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text{
    color: white;
    font-size: 1.3em;
    line-height: 40px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


/*Estilos de los inconos de los menuItem*/
.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
    color: white;
}


.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    text-align: center;
}

/*Estilos mientras el boton esta pulsado*/
.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #1a4954;
    border: 0px solid #1a4954;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 7px solid rgb(34, 162, 179);

    /*height:75%*/
   
}

/*Quitamos bordes de los botones*/
.layout-topbar .ui-corner-top{
    border-radius: 0px;
}

.layout-topbar .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link:focus{
    box-shadow: none;
}
*:focus {
    outline:none;
}


@media screen and (max-width:1030px) {
    .layout-topbar{
        float: none;
    }
    
    .layout-topbar .ui-tabmenu .ui-tabmenu-nav{
        width: 100%;
    }


    .barra-menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
       
       
      }
    
      .barra-menu .layout-topbar {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
    
      .barra-menu .layout-topbar-logo {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }
    
  }

  @media screen and (max-width:750px) {
    .layout-topbar{
        float: none;
    }
    
    .layout-topbar .ui-tabmenu .ui-tabmenu-nav{
        width: max-content;
    }


    .barra-menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
       
       
      }
    
      .barra-menu .layout-topbar {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
    
      .barra-menu .layout-topbar-logo {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }
      
    
  }