

.menu-bar{
    background-color: #1a4954;
    display: none;
}

.menu-bar .menu-items{
    color: white;

    
}

.menu-bar .menu-items a{
    font-size: 1.1em;
    line-height: 40px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


.menu-spacer {
    flex: 1 1 auto;
  }

