<!--<div class="content">
  <h1>Passenger</h1>
  <img src="assets/images/logo_spring.png">
  <form class="" (keydown)="sendPassengerEnter($event)">
    <div class="">
  
        <input class="form-control" name="Company"type="text" pInputText placeholder="Company" [(ngModel)]="passenger.company" />
      </div>
    <div class="">
      
      <input class="form-control" name="DocumentNumber" type="text" pInputText placeholder="DocumentNumber" [(ngModel)]="passenger.documentNumber" autocomplete="off">         
    </div>
    <div class="">
     
      <input class="form-control" name="DocumentType"type="text" pInputText placeholder="DocumentType" [(ngModel)]="passenger.documentType" />
    </div>
   <div class="">
      <input class="form-control" name="DocumentCountry"type="text" pInputText placeholder="DocumentCountry" [(ngModel)]="passenger.documentCountry" />
    </div>
    <button pButton type="button" class="ui-button-success" label="Login" icon="fa-sign-in" (click)="sendPassenger()"></button>    
  </form>
</div>-->

<div class="content">
  <img src="assets/images/logo_form.png">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="DocumentNumber" [(ngModel)]="passenger.documentNumber">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="DocumentType" [(ngModel)]="passenger.documentType">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="DocumentCountry" [(ngModel)]="passenger.documentCountry">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-briefcase" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Company" [(ngModel)]="company">
      </div>
    </div>
  </div>
  <button pButton type="button" class="ui-button-success" label="Send" icon="pi pi-star-o" (click)="sendPassenger()"></button>  
  <p-messages [(value)]="msgs"></p-messages>  
</div>